body{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
background-color: rgba(171, 161, 201, 0.836);
}

.header{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('pics/bg2.jpg');
    min-height:100vh;
    width:100%;
    background-position:center;
    background-size:cover;
    position:relative;
}

.logo{
    width: 70px;
    padding-left:1rem;
}
nav{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
   display:flex;
}
nav ul li{
    padding-right: 4em;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-size:17px;
}
nav ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width:100%
}
.text-box{
    width:90%;
    color:white;
    position: absolute;
    top:50%;
    bottom: 50%;
    text-align:center;
}
.text-box h1{
    font-size:70px;
}

.text-box p{
    font-size:17px;
    margin:10px 0 40px;
}
@media (max-width: 700px){
    .text-box h1{
        font-size:25px;
    }
}

/*-- Frangrance Free*/

.free{
    width:80%;
    margin:auto;
    padding: top 100px;
    text-align: center;
}
.free h1{
    font-size: 40px;
    font-weight: 600;
}

.free p{
    color:white;
    font-size: 14px;
    padding:20px;
}

.free-row{
    margin-top: 5%;
    display: flex;
    justify-content:space-between;
}
.free-col{
    background-color:rgb(235, 215, 250);
    box-sizing: border-box;
    border-radius: 10px;
    flex-basis: 31%;
    padding: 15px 10px;
    transition: 0.5s;
}
.free h3{
    text-align: center;
    font-weight: 600;
}

.free-col:hover{
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    .free-row{
        flex-direction:column;
    }
}
